body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    
}

/* navbar */
nav{
    display:flex;
    /* flex-direction:row */
    justify-content:space-between;
    padding:30px 100px;
    align-items: center;
    
}

nav .links a{
    text-decoration: none;
    color:#000;
    margin-right:18px
}

nav .links a:hover{
    color:rgb(47, 16, 133)
}
nav .fa-bars{
    display: none;
    font-size:20px;
    cursor: pointer;
    /* visibility:hidden */
}

/* introduction */
.introduction{
    padding:50px 100px;
    display: flex;
    justify-content: space-between;
}
/* flex-direction, justify-content, align-items  display:flex olmadan islemir */

.intro-left-side h1{
    font-size:72px;
    margin:0
}
.intro-left-side .orange{
    color:#FF8A56;
    
}
.intro-left-side p{
    color:#666;
    font-size: 22px;
    margin:45px 0;
}
.intro-left-side .booking{
    font-size:20px;
    color:#fff;
    background-color: #000;
    padding:12px 15px;
    text-decoration: none;
    border:1px solid #000;
    margin-right:25px
}
.intro-left-side .booking:hover{
    color:#000;
    background-color: #fff;
}
.intro-left-side .cv{
    text-decoration: none;
    color:#000;
    font-size:20px;
    display: inline-block;
}
.intro-left-side .cv:hover{
  scale:1.1;
  transition: all .8s;

}
/* trusted-by design */
.trusted-by{
    padding: 50px 100px;
}
.trusted-by p{
    font-size:18px;
    text-align: center;
    margin-bottom:50px
}
.companies{
    display: flex;
    justify-content: space-around;
}

/* service section design */
.service{
    padding:40px 100px;
}
.service h4{
    font-size:22px;
    letter-spacing: 4px;
    color:#FF5E69;
    text-align: center;
}
.service h1{
    font-size:54px;
    text-align: center;
    margin:10px 0;
}




/* 1 rem = 16px */


.apps{
    display:flex;
    padding:60px 80px;
    justify-content: space-between;
}

.apps .step h2{
    font-size:24px;
}
.apps .step p{
    color:#666666;
}
.step ul{
    list-style-type: square;
    padding-left:15px
}
.step ul li{
    font-weight: 700;
}

/* project section design */

.project{
    padding:60px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.project-left-side h2{
    color:#B16CEA;
    font-size:22px;
    letter-spacing: 4px;
}
.project-left-side h1{
    font-size:54px;
    margin:0
}

.project-right-side a{
    text-decoration: none;
    font-size:17px;
    color:#fff;
    background-color: #000;
    border:1px solid #000;
    padding: 12px 20px;
}
.project-right-side a:hover{
    color:#000;
    background-color: #fff;
}

/* product design */

.designer{
    padding:60px 100px;
}
.designer .info{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-left h5{
    font-size:22px;
    letter-spacing: 4px;
    color:#FF5E69;
    margin-bottom:10px
}

.info-left h1{
    font-size:54px;
    margin-top:0
}
.info-right{
    color:#666;
    font-size:22px;
    line-height:40px;
    text-align: justify;
}
.designer .photos{
    display:flex;
}
.photos img{
 margin-right:20px
}
.photos-top img{
    margin-bottom:14px
}




/* WORK-EDUCATION DESIGN */
.work-education{
    padding:60px 100px;
    display: flex;
    justify-content: space-between;
    
}
.work-education span:nth-child(even){
    padding-left:80px
}
.work, .education{
    width:48%;
    
}

.work-education p{
    font-size:36px;
}
.university, .workplace{
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    padding-bottom:30px
}

/* EDUCATION */

.university-top{
    display: flex;
    justify-content: space-between;
}
.university-bottom span{
    color:rgba(0, 0, 0, 0.6)
}

/* WORK */
.experience{
    display: flex;
    align-items: center;
}
.workplace{
    width:90%
}
.workplace .work-top{
    display: flex;
    justify-content: space-between;
}
.workplace .work-bottom{
    color:rgba(0, 0, 0, 0.6)
}
.icon{
    margin-right:20px
}



































/* responsiv design */

@media(max-width:860px){

nav .links{
    display: none;
}

nav .fa-bars{
    display: inline-block;
}

nav{
    padding:30px 40px;
}



}

@media(max-width:1120px){
    .introduction{
        flex-direction: column;
        text-align: center;
    }
    .intro-left-side{
        
        margin-bottom:90px
    }
}

@media(max-width:890px){
     .companies img.odd{
        display: none;
        /* visibility:hidden */
    } 
    
}


/* .companies img:nth-child(odd){
        display: none;
    } */


    @media(max-width:1220px){
        .apps{
            padding:60px 40px;
        }
    }

    @media(max-width:1090px){
        .apps{
            flex-direction: column;
            text-align: center;
        }
        .apps ul li{
            list-style-type: none;
        }
        .step{
            margin-bottom:70px;
        }
    }

    @media(max-width:895px){
        .project{
            flex-direction: column;
            text-align: center;
        }
        .project-left-side{
            margin-bottom:50px 
        }
    }